<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="onLogin(f)" #f="ngForm">
    <div class="form-group">
      <ion-item>
        <ion-input
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control"
          placeholder="Enter email"
          clearInput="true">
        </ion-input>
      </ion-item>
    </div>
    <div class="form-group">
      <ion-item>
        <ion-input
          id="password"
          name="password"
          type="password"
          ngModel
          class="form-control"
          placeholder="Enter your Password"
          clearInput="true">
        </ion-input>
      </ion-item>
    </div>
      <button type="submit" class="button-clear-md-primary">Login</button>
  </form>
</ion-content>
